.single-item img{
width: 100%;
}
.single-item{
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.404);
    padding: 15px;
}
.btn-color{
    background-color: white;
    width: 150px;
    height: 25px;
    
}
.google-btn{
    padding: 5px;
    width: 9px;
    text-decoration: none;
}