.services{
    margin-top: 500px;
}
.add-service-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.add-service-form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}
