.banner-added{
    background-image: url('http://www.nicdarkthemes.com/themes/hotel/wp/demo/intro/img/features/feature-8.jpg');
    background-position: 50%;
    background-size: cover;
    width: 98.5%;
    background-repeat: no-repeat;
    min-height: 60vh;
    margin-bottom: 40px;
   margin-top: 39px;
}
.banner-added {
    position: absolute;
    top: 0;
    padding: 10px;
    text-align: center;
    justify-content: center;
    color:rgb(255, 255, 255);
    font-size: 20px;
    /* margin: 40px; */
}
.advantage{
    background-color: rgba(0, 0, 0, 0.479);
    margin-left:0px ;
    padding-bottom: 5px;
}

@media only screen and (max-width:688){
    banner-added img{
      width: 100%;
    }
}
